<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <% @posts.each do |post| %>
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-5">
              <%= link_to "/post/show/#{post.id}" do %>
                <%= image_tag(post.image.url, class: "img-fluid rounded-start") %>
              <% end %>
            </div>
            <div class="col-md-7">
              <div class="card-body mt-2">
                <h5 class="card-title fw-bold"><%= post.title %></h5>
                <p>
                  <span class="badge rounded-pill text-bg-primary"><%= post.tag1 %></span>
                  <span class="badge rounded-pill text-bg-primary"><%= post.tag2 %></span>
                  <span class="badge rounded-pill text-bg-primary"><%= post.tag3 %></span>
                  <span class="badge rounded-pill text-bg-primary"><%= post.tag4 %></span>
                  <span class="badge rounded-pill text-bg-primary"><%= post.tag5 %></span>
                </p>
                <p class="card-text" style="width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><%= post.content %></p>
                <p class="card-text mt-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <small class="text-primary fw-bold"><%= Like.where(post_id: post.id).count %>いいね！</small>
                    </div>
                    <div class="col-lg-6 text-end">
                      <small class="text-muted">最終更新<%= time_ago_in_words(post.updated_at) %></small>
                    </div>
                  </div>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-lg-4">
      <%= render "layouts/sidebar" %>
    </div>
  </div>
</div>
