<div class="container mt-5">
  <% @posts.each do |post| %>
    <div class="row">
      <div class="col-lg-8">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-5">
              <%= link_to "/post/show/#{post.id}" do %>
                <%= image_tag(post.image.url, class: "img-fluid rounded-start") %>
              <% end %>
            </div>
            <div class="col-md-7">
              <div class="card-body mt-2">
                <h5 class="card-title fw-bold"><%= post.title %></h5>
                <p>
                  <span class="badge rounded-pill text-bg-primary"><%= post.tag1 %></span>
                  <span class="badge rounded-pill text-bg-primary"><%= post.tag2 %></span>
                  <span class="badge rounded-pill text-bg-primary"><%= post.tag3 %></span>
                  <span class="badge rounded-pill text-bg-primary"><%= post.tag4 %></span>
                  <span class="badge rounded-pill text-bg-primary"><%= post.tag5 %></span>
                </p>
                <p class="card-text"><%= post.content %></p>
                <p class="card-text">
                  <div class="row">
                    <div class="col-lg-6">
                      <small class="text-primary"><%= Like.where(post_id: post.id).count %>いいね！</small>
                    </div>
                    <div class="col-lg-6 text-end">
                      <small class="text-muted">最終更新3分前</small>
                    </div>
                  </div>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        あ
      </div>
    </div>
  <% end %>
</div>
