<div class="container my-5">
  <div class="row">
    <div class="col-lg-8">
      <%= image_tag(@post.image.url, class: "img-fluid rounded-start") %>
      <div class="mt-5">
        <div class="bg-light px-3 py-3">
          <h2 class="fw-bold mt-3"><%= @post.title %></h2>
          <p class="mt-4">
            <%= @post.content %>
          </p>
          <p>
            <span class="badge rounded-pill text-bg-primary"><%= @post.tag1 %></span>
            <span class="badge rounded-pill text-bg-primary"><%= @post.tag2 %></span>
            <span class="badge rounded-pill text-bg-primary"><%= @post.tag3 %></span>
            <span class="badge rounded-pill text-bg-primary"><%= @post.tag4 %></span>
            <span class="badge rounded-pill text-bg-primary"><%= @post.tag5 %></span>
          </p>
          <p class="mt-4">
            <div class="row">
              <div class="col-lg-6">
                <% if user_signed_in? %>
                  <% if Like.exists?(user_id: current_user.id, post_id: @post.id) %>
                    <%= button_to "/post/like_destroy/#{@post.id}", method: :delete, class: "btn btn-primary" do %>
                      いいね解除
                    <% end %>
                  <% else %>
                    <%= button_to "/post/like_create/#{@post.id}", method: :post, class: "btn btn-primary" do %>
                      いいね！
                    <% end %>
                  <% end %>
                <% else %>
                  <%= link_to "/users/sign_in" do %>
                    ログイン
                  <% end %>
                  するといいねできます。
                <% end %>
              </div>
              <div class="col-lg-6 text-end">
                <small class="text-primary fw-bold"><%= Like.where(post_id: @post.id).count %>いいね！</small>
              </div>
            </div>
          </p>
        </div>
        <%# 投稿者の情報 %>
        <div class="bg-light">
          <div class="mt-3 px-3 py-3">
            <div class="row">
              <div class="col-lg-1">
                <%= link_to "/profile/show/#{@post.user.id}" do %>
                  <% if @post.user.icon.url %>
                    <%= image_tag(@post.user.icon.url, class: "img-fluid", style: "border-radius: 50%;") %>
                  <% else %>
                    <%= image_tag("/assets/bg_cover.jpg", class: "img-fluid") %>
                  <% end %>
                <% end %>
              </div>
              <div class="col-lg-7">
                <h5 class="fw-bold"><%= @post.user.name %></h5>
                <p><%= @post.user.profile %></p>
              </div>
              <div class="col-lg-4 text-end mt-2">
                <% if user_signed_in? %>
                  <% if current_user.id == @post.user.id %>
                    <%= link_to "プロフィール編集", "/profile/edit/#{@post.user.id}", class: "btn btn-primary" %>
                  <% else %>
                    <% if Follow.where(followed: current_user.id, follower: @post.user.id).exists? %>
                      <%= button_to "/profile/follow_destroy/#{@post.user.id}", method: :delete, class: "btn btn-primary" do %>
                        フォロー解除
                      <% end %>
                    <% else %>
                      <%= button_to "/profile/follow/#{@post.user.id}", method: :post, class: "btn btn-primary" do %>
                        フォロー
                      <% end %>
                    <% end %>
                  <% end %>
                <% else %>
                  <%= link_to "/users/sign_in" do %>
                    ログイン
                  <% end %>
                  するとフォローできます。
                <% end %>
              </div>
            </div>
            <%# 投稿者本人であれば編集できる %>
            <% if user_signed_in? %>
              <div class="mt-3 d-flex">
                <% if @post.user.id == current_user.id %>
                  <%= button_to "/post/edit/#{@post.id}", method: :get, class: "btn btn-primary px-4" do %>
                    投稿を編集する
                  <% end %>
                  <%= button_to "/post/destroy/#{@post.id}", method: :delete, class: "btn btn-primary px-4 mx-2" do %>
                    投稿を削除する
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <%= render "layouts/sidebar" %>
    </div>
  </div>
</div>
