<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRAVELOGUE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
      body{
        background-color: #E6E6E6;
      }

      .hero{
        background-image: url('/assets/rana-sawalha-W_-6PWGbYaU-unsplash.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        object-fit: cover;
        z-index: 4;
      }
    </style>
  </head>
  <body>
    <header>
      <%= render "layouts/header" %>
    </header>
    <div class="col-lg-6 mx-auto">
      <% if alert %>
        <div class="alert alert-danger my-4" role="alert"><strong>エラー！</strong> -  <%= alert %></div>
      <% end %>
      <% if notice %>
        <div class="alert alert-success my-4" role="alert"><strong>成功！</strong> -  <%= notice %></div>
      <% end %>
      <% if flash[:success] %>
        <div class="alert alert-success mt-5" role="alert">
          <strong>成功！</strong> -  <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:error] %>
        <div class="alert alert-danger mt-5" role="alert">
          <strong>エラー！</strong> -  <%= flash[:error] %>
        </div>
      <% end %>
    </div>
    <%= yield %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>
